@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rubik:wght@400;500&display=swap');

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;

@theme {
  /* Colors */
  --color-primary-green: #01ABAA;
  --color-primary-yellow: #FEDC3D;
  --color-primary-blue: #001529;
}

.font-poppins {
  font-family: Poppins, Rubik;
}
.font-rubik {
  font-family: Rubik;
}
